node-red/ioplus_selftest.json
[
    {
        "id": "2db4cdca.665a02",
        "type": "tab",
        "label": "IOPLUS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bde20a76.b2fdb8",
        "type": "inject",
        "z": "2db4cdca.665a02",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "5bb21160.228aa"
            ]
        ]
    },
    {
        "id": "e1fedb9f.cb4f58",
        "type": "ui_gauge",
        "z": "2db4cdca.665a02",
        "name": "",
        "group": "37a1950.14f226c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ADC1",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "5bb21160.228aa",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 adcrd 1",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "e1fedb9f.cb4f58"
            ],
            [],
            [
                "695a86d8.709108"
            ]
        ]
    },
    {
        "id": "695a86d8.709108",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 adcrd 2",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "aeed4092.a3ec7"
            ],
            [],
            [
                "13e1c95a.380677"
            ]
        ]
    },
    {
        "id": "13e1c95a.380677",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 adcrd 3",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "374e8349.ea787c"
            ],
            [],
            [
                "d012490e.030018"
            ]
        ]
    },
    {
        "id": "d012490e.030018",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 adcrd 4",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "4d6fbc35.b57124"
            ],
            [],
            [
                "15d6d9fe.465686"
            ]
        ]
    },
    {
        "id": "15d6d9fe.465686",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 adcrd 5",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 500,
        "wires": [
            [
                "80abbaa0.0005d8"
            ],
            [],
            [
                "97e6b773.1d2d88"
            ]
        ]
    },
    {
        "id": "97e6b773.1d2d88",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 adcrd 6",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 580,
        "wires": [
            [
                "3665004.903de"
            ],
            [],
            [
                "27a9494c.0b24a6"
            ]
        ]
    },
    {
        "id": "27a9494c.0b24a6",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 adcrd 7",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 660,
        "wires": [
            [
                "1719f52a.91a2ab"
            ],
            [],
            [
                "b6b1260e.464f08"
            ]
        ]
    },
    {
        "id": "b6b1260e.464f08",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 adcrd 8",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 740,
        "wires": [
            [
                "efaf59f7.b23e68"
            ],
            [],
            [
                "315c07fb.bdc0c8"
            ]
        ]
    },
    {
        "id": "374e8349.ea787c",
        "type": "ui_gauge",
        "z": "2db4cdca.665a02",
        "name": "",
        "group": "37a1950.14f226c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ADC3",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "4d6fbc35.b57124",
        "type": "ui_gauge",
        "z": "2db4cdca.665a02",
        "name": "",
        "group": "aa7b64c1.9dd518",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ADC4",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "80abbaa0.0005d8",
        "type": "ui_gauge",
        "z": "2db4cdca.665a02",
        "name": "",
        "group": "74ca680.6882498",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ADC5",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "3665004.903de",
        "type": "ui_gauge",
        "z": "2db4cdca.665a02",
        "name": "",
        "group": "74ca680.6882498",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ADC6",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "1719f52a.91a2ab",
        "type": "ui_gauge",
        "z": "2db4cdca.665a02",
        "name": "",
        "group": "ef205e21.d0927",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ADC7",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 640,
        "wires": []
    },
    {
        "id": "efaf59f7.b23e68",
        "type": "ui_gauge",
        "z": "2db4cdca.665a02",
        "name": "",
        "group": "ef205e21.d0927",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ADC8",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 630,
        "y": 720,
        "wires": []
    },
    {
        "id": "ab32b553.8f6bd8",
        "type": "ui_slider",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "DAC1",
        "tooltip": "",
        "group": "aa7b64c1.9dd518",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "2",
        "step": ".1",
        "x": 770,
        "y": 160,
        "wires": [
            [
                "463bd8b9.691778"
            ]
        ]
    },
    {
        "id": "463bd8b9.691778",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 dacwr 1 ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 940,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "2163e99b.a55d86",
        "type": "ui_slider",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "DAC2",
        "tooltip": "",
        "group": "74ca680.6882498",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "2",
        "step": ".1",
        "x": 770,
        "y": 280,
        "wires": [
            [
                "75bffcde.69d984"
            ]
        ]
    },
    {
        "id": "75bffcde.69d984",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 dacwr 2 ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 940,
        "y": 280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b14261cb.8b7b9",
        "type": "ui_slider",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "DAC3",
        "tooltip": "",
        "group": "37a1950.14f226c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "2",
        "step": ".1",
        "x": 770,
        "y": 400,
        "wires": [
            [
                "efbef056.965f3"
            ]
        ]
    },
    {
        "id": "efbef056.965f3",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 dacwr 3 ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 940,
        "y": 400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e08d7d9e.672ca",
        "type": "ui_slider",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "DAC4",
        "tooltip": "",
        "group": "ef205e21.d0927",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "2",
        "step": ".1",
        "x": 770,
        "y": 520,
        "wires": [
            [
                "4d2d14dc.134efc"
            ]
        ]
    },
    {
        "id": "4d2d14dc.134efc",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 dacwr 4 ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 940,
        "y": 520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "aeed4092.a3ec7",
        "type": "ui_chart",
        "z": "2db4cdca.665a02",
        "name": "",
        "group": "aa7b64c1.9dd518",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "ADC2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "3.3",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e7e795b.a792c68",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "RELAY1",
        "tooltip": "",
        "group": "988954b5.06f898",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "dbaeae7.3c8515"
            ]
        ]
    },
    {
        "id": "8a27da1c.cbaee8",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 relwr 1  ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 1100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "dbaeae7.3c8515",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nif(msg.payload)\n{\n    newMsg.payload = \"1\";\n}\nelse\n{\n    newMsg.payload = \"0\";\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1100,
        "wires": [
            [
                "8a27da1c.cbaee8"
            ]
        ]
    },
    {
        "id": "e1fe60a3.f7559",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "RELAY2",
        "tooltip": "",
        "group": "988954b5.06f898",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 1160,
        "wires": [
            [
                "87383eae.13d54"
            ]
        ]
    },
    {
        "id": "300bb040.b1fb5",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 relwr 2  ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 1160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "87383eae.13d54",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nif(msg.payload)\n{\n    newMsg.payload = \"1\";\n}\nelse\n{\n    newMsg.payload = \"0\";\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1160,
        "wires": [
            [
                "300bb040.b1fb5"
            ]
        ]
    },
    {
        "id": "22181d2b.3577e2",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "RELAY3",
        "tooltip": "",
        "group": "988954b5.06f898",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 1220,
        "wires": [
            [
                "1ffc8e91.208b41"
            ]
        ]
    },
    {
        "id": "75c4fba2.535074",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 relwr 3  ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 1220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1ffc8e91.208b41",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nif(msg.payload)\n{\n    newMsg.payload = \"1\";\n}\nelse\n{\n    newMsg.payload = \"0\";\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1220,
        "wires": [
            [
                "75c4fba2.535074"
            ]
        ]
    },
    {
        "id": "77fad23c.0d294c",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "RELAY4",
        "tooltip": "",
        "group": "988954b5.06f898",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 1280,
        "wires": [
            [
                "875f868.9bfda78"
            ]
        ]
    },
    {
        "id": "4c5d0e49.6a70e",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 relwr 4  ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 1280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "875f868.9bfda78",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nif(msg.payload)\n{\n    newMsg.payload = \"1\";\n}\nelse\n{\n    newMsg.payload = \"0\";\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1280,
        "wires": [
            [
                "4c5d0e49.6a70e"
            ]
        ]
    },
    {
        "id": "10290e87.2e48c1",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "RELAY5",
        "tooltip": "",
        "group": "988954b5.06f898",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 1340,
        "wires": [
            [
                "46e4de45.69a78"
            ]
        ]
    },
    {
        "id": "7495a4b5.1c96cc",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 relwr 5  ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 1340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "46e4de45.69a78",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nif(msg.payload)\n{\n    newMsg.payload = \"1\";\n}\nelse\n{\n    newMsg.payload = \"0\";\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1340,
        "wires": [
            [
                "7495a4b5.1c96cc"
            ]
        ]
    },
    {
        "id": "1bfcde53.ff7e32",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "RELAY6",
        "tooltip": "",
        "group": "988954b5.06f898",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 1400,
        "wires": [
            [
                "1407db1e.2d3b25"
            ]
        ]
    },
    {
        "id": "815be9b9.063258",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 relwr 6  ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 1400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1407db1e.2d3b25",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nif(msg.payload)\n{\n    newMsg.payload = \"1\";\n}\nelse\n{\n    newMsg.payload = \"0\";\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1400,
        "wires": [
            [
                "815be9b9.063258"
            ]
        ]
    },
    {
        "id": "aceb6673.c15188",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "RELAY7",
        "tooltip": "",
        "group": "988954b5.06f898",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 1460,
        "wires": [
            [
                "9123d3d7.1bc91"
            ]
        ]
    },
    {
        "id": "d69efedd.0da0d",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 relwr 7  ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 1460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9123d3d7.1bc91",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nif(msg.payload)\n{\n    newMsg.payload = \"1\";\n}\nelse\n{\n    newMsg.payload = \"0\";\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1460,
        "wires": [
            [
                "d69efedd.0da0d"
            ]
        ]
    },
    {
        "id": "de96e132.7948a",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "RELAY8",
        "tooltip": "",
        "group": "988954b5.06f898",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 300,
        "y": 1520,
        "wires": [
            [
                "3cb55bb5.f70184"
            ]
        ]
    },
    {
        "id": "38ba12ee.e555ae",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 relwr 8  ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 620,
        "y": 1520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "3cb55bb5.f70184",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = { payload: msg.payload.length };\nif(msg.payload)\n{\n    newMsg.payload = \"1\";\n}\nelse\n{\n    newMsg.payload = \"0\";\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 1520,
        "wires": [
            [
                "38ba12ee.e555ae"
            ]
        ]
    },
    {
        "id": "315c07fb.bdc0c8",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 optrd",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 860,
        "wires": [
            [
                "6a202302.40456c"
            ],
            [],
            []
        ]
    },
    {
        "id": "6a202302.40456c",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var m_out = [];\nvar i = 0;\nfor(i = 0; i< 8; i++)\n{\n    var newMsg1 = {payload: \"gray\"}\n    \n    if(parseInt(msg.payload) & (1 << i))\n    {\n        newMsg1.payload = \"red\";\n    }\n    m_out.push(newMsg1)\n}\nreturn m_out;",
        "outputs": 8,
        "noerr": 0,
        "x": 570,
        "y": 840,
        "wires": [
            [
                "ae387f07.c5443"
            ],
            [
                "3d722e92.0ee1f2"
            ],
            [
                "e98e5728.6ef588"
            ],
            [
                "965fa2f7.813d8"
            ],
            [
                "c28d9ea1.4de4"
            ],
            [
                "6e731075.d399e"
            ],
            [
                "b2d6a83c.9e0a68"
            ],
            [
                "d642b815.f89988"
            ]
        ]
    },
    {
        "id": "c1924f64.0c5ce",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "aa7b64c1.9dd518",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DAC1 - - - - > ADC2",
        "format": "",
        "layout": "row-spread",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "8daddcab.6f0d7",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "74ca680.6882498",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DAC2- - - - > ADC5",
        "format": "",
        "layout": "row-spread",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "e8f68b66.146268",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "37a1950.14f226c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DAC3 - - - - > ADC1",
        "format": "",
        "layout": "row-spread",
        "x": 820,
        "y": 460,
        "wires": []
    },
    {
        "id": "855b13c0.7b922",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "ef205e21.d0927",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DAC4 - - - - > ADC7",
        "format": "",
        "layout": "row-spread",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "6ef84680.9dd378",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "OD1",
        "tooltip": "",
        "group": "2353b42.3c6ad4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 810,
        "y": 1100,
        "wires": [
            [
                "b3f2368e.34a228"
            ]
        ]
    },
    {
        "id": "b3f2368e.34a228",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = {payload:\"\"};\nif(msg.payload)\n{\n    newMsg.payload = \"1 100\"\n}\nelse\n{\n    newMsg.payload = \"1 0\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1100,
        "wires": [
            [
                "4d260cc7.781184"
            ]
        ]
    },
    {
        "id": "4d260cc7.781184",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 odwr ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1200,
        "y": 1240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d0f0dc6c.20a83",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "OD2",
        "tooltip": "",
        "group": "2353b42.3c6ad4c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 810,
        "y": 1220,
        "wires": [
            [
                "6eb25109.48248"
            ]
        ]
    },
    {
        "id": "6eb25109.48248",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = {payload:\"\"};\nif(msg.payload)\n{\n    newMsg.payload = \"2 100\"\n}\nelse\n{\n    newMsg.payload = \"2 0\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1220,
        "wires": [
            [
                "4d260cc7.781184"
            ]
        ]
    },
    {
        "id": "8fa96d40.a3db8",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "OD3",
        "tooltip": "",
        "group": "2353b42.3c6ad4c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 810,
        "y": 1340,
        "wires": [
            [
                "77d0594.a64faa8"
            ]
        ]
    },
    {
        "id": "77d0594.a64faa8",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = {payload:\"\"};\nif(msg.payload)\n{\n    newMsg.payload = \"3 100\"\n}\nelse\n{\n    newMsg.payload = \"3 0\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1340,
        "wires": [
            [
                "4d260cc7.781184"
            ]
        ]
    },
    {
        "id": "95a4063b.4ab0f8",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "OD4",
        "tooltip": "",
        "group": "2353b42.3c6ad4c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 810,
        "y": 1460,
        "wires": [
            [
                "fdd3fede.17947"
            ]
        ]
    },
    {
        "id": "fdd3fede.17947",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = {payload:\"\"};\nif(msg.payload)\n{\n    newMsg.payload = \"4 100\"\n}\nelse\n{\n    newMsg.payload = \"4 0\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 1460,
        "wires": [
            [
                "4d260cc7.781184"
            ]
        ]
    },
    {
        "id": "ad9063e9.7249b",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "2353b42.3c6ad4c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OD1 - - - - > OPTO8",
        "format": "",
        "layout": "row-spread",
        "x": 860,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e97a22a0.d7a57",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "2353b42.3c6ad4c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OD2 - - - - > OPTO7",
        "format": "",
        "layout": "row-spread",
        "x": 860,
        "y": 1280,
        "wires": []
    },
    {
        "id": "addbcd68.5d961",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "2353b42.3c6ad4c",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OD3 - - - - > OPTO6",
        "format": "",
        "layout": "row-spread",
        "x": 860,
        "y": 1400,
        "wires": []
    },
    {
        "id": "934ae367.b5118",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "2353b42.3c6ad4c",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OD4 - - - - > OPTO5",
        "format": "",
        "layout": "row-spread",
        "x": 860,
        "y": 1520,
        "wires": []
    },
    {
        "id": "8b54b49a.601ce8",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "GPIO1",
        "tooltip": "",
        "group": "b1876765.0d5c58",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 310,
        "y": 1760,
        "wires": [
            [
                "7e1420ef.81324"
            ]
        ]
    },
    {
        "id": "7e1420ef.81324",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = {payload:\"\"};\nif(msg.payload)\n{\n    newMsg.payload = \"1 0\"\n}\nelse\n{\n    newMsg.payload = \"1 1\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1760,
        "wires": [
            [
                "4d18e46c.c94c4c"
            ]
        ]
    },
    {
        "id": "7028830b.60b2fc",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "b1876765.0d5c58",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "GPIO1 - - - - > OPTO2",
        "format": "",
        "layout": "row-spread",
        "x": 360,
        "y": 1820,
        "wires": []
    },
    {
        "id": "3f20914.877076e",
        "type": "inject",
        "z": "2db4cdca.665a02",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 290,
        "y": 1600,
        "wires": [
            [
                "1b13c8c5.a1e6c7",
                "66a8fb9.9a98f04"
            ]
        ]
    },
    {
        "id": "1b13c8c5.a1e6c7",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 gpiodirwr 0",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 1600,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4d18e46c.c94c4c",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 gpiowr ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 720,
        "y": 1940,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "66a8fb9.9a98f04",
        "type": "exec",
        "z": "2db4cdca.665a02",
        "command": "ioplus 0 gpiowr 15",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 1660,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f3079ce9.f4e0c",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "GPIO2",
        "tooltip": "",
        "group": "b1876765.0d5c58",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 310,
        "y": 1880,
        "wires": [
            [
                "d1dd609f.1283"
            ]
        ]
    },
    {
        "id": "d1dd609f.1283",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = {payload:\"\"};\nif(msg.payload)\n{\n    newMsg.payload = \"2 0\"\n}\nelse\n{\n    newMsg.payload = \"2 1\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 1880,
        "wires": [
            [
                "4d18e46c.c94c4c"
            ]
        ]
    },
    {
        "id": "7d3dcec0.51095",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "b1876765.0d5c58",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "GPIO2 - - - - > OPTO1",
        "format": "",
        "layout": "row-spread",
        "x": 360,
        "y": 1940,
        "wires": []
    },
    {
        "id": "704e81b9.eca56",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "GPIO3",
        "tooltip": "",
        "group": "b1876765.0d5c58",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 310,
        "y": 2000,
        "wires": [
            [
                "90882b3c.663d08"
            ]
        ]
    },
    {
        "id": "90882b3c.663d08",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = {payload:\"\"};\nif(msg.payload)\n{\n    newMsg.payload = \"3 0\"\n}\nelse\n{\n    newMsg.payload = \"3 1\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 2000,
        "wires": [
            [
                "4d18e46c.c94c4c"
            ]
        ]
    },
    {
        "id": "3aebb5b5.1ff32a",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "b1876765.0d5c58",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "GPIO3 - - - - > OPTO4",
        "format": "",
        "layout": "row-spread",
        "x": 360,
        "y": 2060,
        "wires": []
    },
    {
        "id": "5ac71f47.e64e2",
        "type": "ui_switch",
        "z": "2db4cdca.665a02",
        "name": "",
        "label": "GPIO4",
        "tooltip": "",
        "group": "b1876765.0d5c58",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 310,
        "y": 2120,
        "wires": [
            [
                "eb8678e5.af6908"
            ]
        ]
    },
    {
        "id": "eb8678e5.af6908",
        "type": "function",
        "z": "2db4cdca.665a02",
        "name": "",
        "func": "var newMsg = {payload:\"\"};\nif(msg.payload)\n{\n    newMsg.payload = \"4 0\"\n}\nelse\n{\n    newMsg.payload = \"4 1\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 2120,
        "wires": [
            [
                "4d18e46c.c94c4c"
            ]
        ]
    },
    {
        "id": "71a836d.b05e1c8",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "b1876765.0d5c58",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "GPIO4- - - - > OPTO3",
        "format": "",
        "layout": "row-spread",
        "x": 360,
        "y": 2180,
        "wires": []
    },
    {
        "id": "32e4b352.d3d78c",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "aa7b64c1.9dd518",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DAC1 - - - - > ADC4",
        "format": "",
        "layout": "row-spread",
        "x": 1040,
        "y": 220,
        "wires": []
    },
    {
        "id": "9800bfa9.a660a",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "74ca680.6882498",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DAC2- - - - > ADC6",
        "format": "",
        "layout": "row-spread",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "82b79043.c94f5",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "37a1950.14f226c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DAC3 - - - - > ADC3",
        "format": "",
        "layout": "row-spread",
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "128cbb57.418935",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "ef205e21.d0927",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DAC4 - - - - > ADC8",
        "format": "",
        "layout": "row-spread",
        "x": 1100,
        "y": 580,
        "wires": []
    },
    {
        "id": "ae387f07.c5443",
        "type": "ui_ui-light",
        "z": "2db4cdca.665a02",
        "action": "set",
        "actionType": "str",
        "write": "payload",
        "writeType": "msg",
        "name": "OPTO1",
        "group": "6b0a36a5.d2d688",
        "order": 8,
        "width": "0",
        "height": "0",
        "x": 860,
        "y": 720,
        "wires": [
            []
        ],
        "info": "OPTO1"
    },
    {
        "id": "3d722e92.0ee1f2",
        "type": "ui_ui-light",
        "z": "2db4cdca.665a02",
        "action": "set",
        "actionType": "str",
        "write": "payload",
        "writeType": "msg",
        "name": "OPTO1",
        "group": "6b0a36a5.d2d688",
        "order": 8,
        "width": 0,
        "height": 0,
        "x": 860,
        "y": 760,
        "wires": [
            []
        ],
        "info": "OPTO1"
    },
    {
        "id": "e98e5728.6ef588",
        "type": "ui_ui-light",
        "z": "2db4cdca.665a02",
        "action": "set",
        "actionType": "str",
        "write": "payload",
        "writeType": "msg",
        "name": "OPTO1",
        "group": "6b0a36a5.d2d688",
        "order": 8,
        "width": 0,
        "height": 0,
        "x": 860,
        "y": 800,
        "wires": [
            []
        ],
        "info": "OPTO1"
    },
    {
        "id": "965fa2f7.813d8",
        "type": "ui_ui-light",
        "z": "2db4cdca.665a02",
        "action": "set",
        "actionType": "str",
        "write": "payload",
        "writeType": "msg",
        "name": "OPTO1",
        "group": "6b0a36a5.d2d688",
        "order": 8,
        "width": 0,
        "height": 0,
        "x": 860,
        "y": 840,
        "wires": [
            []
        ],
        "info": "OPTO1"
    },
    {
        "id": "c28d9ea1.4de4",
        "type": "ui_ui-light",
        "z": "2db4cdca.665a02",
        "action": "set",
        "actionType": "str",
        "write": "payload",
        "writeType": "msg",
        "name": "OPTO1",
        "group": "6b0a36a5.d2d688",
        "order": 8,
        "width": 0,
        "height": 0,
        "x": 860,
        "y": 880,
        "wires": [
            []
        ],
        "info": "OPTO1"
    },
    {
        "id": "6e731075.d399e",
        "type": "ui_ui-light",
        "z": "2db4cdca.665a02",
        "action": "set",
        "actionType": "str",
        "write": "payload",
        "writeType": "msg",
        "name": "OPTO1",
        "group": "6b0a36a5.d2d688",
        "order": 8,
        "width": 0,
        "height": 0,
        "x": 860,
        "y": 920,
        "wires": [
            []
        ],
        "info": "OPTO1"
    },
    {
        "id": "b2d6a83c.9e0a68",
        "type": "ui_ui-light",
        "z": "2db4cdca.665a02",
        "action": "set",
        "actionType": "str",
        "write": "payload",
        "writeType": "msg",
        "name": "OPTO1",
        "group": "6b0a36a5.d2d688",
        "order": 8,
        "width": 0,
        "height": 0,
        "x": 860,
        "y": 960,
        "wires": [
            []
        ],
        "info": "OPTO1"
    },
    {
        "id": "d642b815.f89988",
        "type": "ui_ui-light",
        "z": "2db4cdca.665a02",
        "action": "set",
        "actionType": "str",
        "write": "payload",
        "writeType": "msg",
        "name": "OPTO1",
        "group": "6b0a36a5.d2d688",
        "order": 8,
        "width": 0,
        "height": 0,
        "x": 860,
        "y": 1000,
        "wires": [
            []
        ],
        "info": "OPTO1"
    },
    {
        "id": "e3c25a4e.0ff218",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "abc91bd5.7f11a8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OPTO1 <---- GPIO2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 720,
        "wires": []
    },
    {
        "id": "8d8f4374.1e1c1",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "abc91bd5.7f11a8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OPTO2 <---- GPIO1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 760,
        "wires": []
    },
    {
        "id": "3afae0cb.7c137",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "abc91bd5.7f11a8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OPTO3 <---- GPIO4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 800,
        "wires": []
    },
    {
        "id": "56b6b5c4.2fe4dc",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "abc91bd5.7f11a8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OPTO4 <---- GPIO3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1060,
        "y": 840,
        "wires": []
    },
    {
        "id": "8b4af1ce.81daf",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "abc91bd5.7f11a8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OPTO5 <---- OD4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 880,
        "wires": []
    },
    {
        "id": "e04ab31.7d1805",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "abc91bd5.7f11a8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OPTO6 <---- OD3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 920,
        "wires": []
    },
    {
        "id": "11cf9e06.6f76c2",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "abc91bd5.7f11a8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OPTO7 <---- OD2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 960,
        "wires": []
    },
    {
        "id": "bd5a5145.657cd",
        "type": "ui_text",
        "z": "2db4cdca.665a02",
        "group": "abc91bd5.7f11a8",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OPTO8 <---- OD1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 1000,
        "wires": []
    },
    {
        "id": "37a1950.14f226c",
        "type": "ui_group",
        "z": "",
        "name": "Group 3",
        "tab": "9daff856.504a18",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aa7b64c1.9dd518",
        "type": "ui_group",
        "z": "",
        "name": "GROUP1",
        "tab": "9daff856.504a18",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "74ca680.6882498",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "9daff856.504a18",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ef205e21.d0927",
        "type": "ui_group",
        "z": "",
        "name": "Group 4",
        "tab": "9daff856.504a18",
        "order": 4,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "988954b5.06f898",
        "type": "ui_group",
        "z": "",
        "name": "RELAY OUTPUTS",
        "tab": "bf23baf5.ff7f98",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2353b42.3c6ad4c",
        "type": "ui_group",
        "z": "",
        "name": "OPEN DRAIN OUTPUTS",
        "tab": "bf23baf5.ff7f98",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b1876765.0d5c58",
        "type": "ui_group",
        "z": "",
        "name": "GPIO OUTPUTS",
        "tab": "bf23baf5.ff7f98",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6b0a36a5.d2d688",
        "type": "ui_group",
        "z": "",
        "name": " ",
        "tab": "bf23baf5.ff7f98",
        "order": 2,
        "disp": true,
        "width": "1",
        "collapse": false
    },
    {
        "id": "abc91bd5.7f11a8",
        "type": "ui_group",
        "z": "",
        "name": "OPTO INPUTS",
        "tab": "bf23baf5.ff7f98",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false
    },
    {
        "id": "9daff856.504a18",
        "type": "ui_tab",
        "z": "",
        "name": "IOPLUS ANALOG Self test installed",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf23baf5.ff7f98",
        "type": "ui_tab",
        "z": "",
        "name": "IOPLUS DIGITAL Self test card installed",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]